body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Shabnam, sans-serif;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'shabnam';
    src: url("fonts/Shabnam.ttf");
    src: url("fonts/Shabnam.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

#particles-js {
    height: 100%;
    background: rgb(2, 148, 61);
}

#login {
    background: rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    color: white;
    padding: 4em;
    position: absolute;
    top: 280px;
    left: 750px;
    border-radius: 1em;

}

#login input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px #ccc solid;
    border-radius: 2em;
    width: 220px;
    height: 35px;
    text-align: left;
}

#login input[type="text"]:hover {
    background-color: rgba(227, 227, 227, 0.55);
}

#login input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px #ccc solid;
    border-radius: 2em;
    width: 220px;
    height: 35px;
    text-align: left;
}

#login input[type="password"]:hover {
    background-color: rgba(227, 227, 227, 0.55);
}

#login button[type="submit"] {
    padding: 10px;
    margin-top: 20px;
    border: 1px #ccc solid;
    border-radius: 1em;
    width: 100px;
    font-family: Shabnam;
}

#login button[type="submit"]:hover {
    background-color: rgba(227, 227, 227, 0.55);
}

i {
    margin: 4px;
    padding: 4px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(111, 183, 111);
}

#login input[type="chechbox"] {
    color: white;
}

#login input[type="chechbox"]:hover {
    color: rgba(111, 183, 111);
}