*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    margin: 0 15px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}
.container header{
    position: relative;
    font-size: 21px;
    font-weight: 600;
    color: black;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 125px;
    border-radius: 8px;
    background-color: rgba(80, 132, 14, 0.93);
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: white;
    overflow: hidden;
}
.container form .details{
    margin-top: 25px;
}
.container form  .title{
    display: block;
    margin-bottom: 7px;
    font-size: 19px;
    font-weight: 500;
    font-style: initial;
    margin: 5px 0;
    color: black;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /*برای زیر خط کردن فرم هستش*/
}
form .fields .input-field{
    display: flex;
    width: calc(100%/ 3 - 15px);
    flex-direction: column;
    margin: 10px 0;
}
.input-field label{
    font-size: 15px;
    font-weight: 500;
    color: black;
}
.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border-radius: 9px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input:is(:focus , :valid){
    box-shadow: 0 6px 6px rgba(0,0,0,0.11);
}
.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 263px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: white;
    border-radius: 9px;
    margin: 25px 0;
    background-color:  rgba(80, 132, 14, 0.93);
    transition: all 0.4s linear;
    cursor: pointer;
}
form button:hover{
    color:  rgba(80, 132, 14, 0.93);
    background-color: white;
}
form button i{
    margin: 0 7px;
}
@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field{
        width: calc(100%/ 2 - 15px);
    }
}
@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
form .bottom{
    display: flex;
    align-items: center;
}












